
   
        @{
            ViewBag.Title = "Home Page";
        }


    <body background="https://static.pexels.com/photos/47472/pexels-photo-47472.jpeg">
        <div class="HomeIndex container-fluid">
            <div class="HomeContext">
                <h1>Love traveling?</h1>
                <p class="lead">Here's your chance to share your experience or experience another's.</p>
                <p><input type="button" class="btn btn-info" value="View other's stories" onclick="location.href='@Url.Action("Index","ReviewModels")'" />
                    <input type="button" class="btn btn-info" value="Share your story" onclick="location.href='@Url.Action("Create","ReviewModels")'" />
                </p>
            </div>
        </div>
        <footer class="navbar-fixed-bottom">

        </footer>
    </body>
